@font-face {
  src: url($Bagnard);
  font-family: 'Bagnard';
}

@font-face {
  src: url($PublicSans-Regular) format('woff2');
  font-family: 'Public Sans';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url($PublicSans-Bold) format('woff2');
  font-family: 'Public Sans';
  font-weight: bold;
  font-style: normal;
}

@font-face {
  src: url($PublicSans-Italic) format('woff2');
  font-family: 'Public Sans';
  font-weight: normal;
  font-style: italic;
}

@font-face {
  src: url($PublicSans-BoldItalic) format('woff2');
  font-family: 'Public Sans';
  font-weight: bold;
  font-style: italic;
}

@font-face {
  src: url($PublicSans-Light) format('woff2');
  font-family: 'Public Sans';
  font-weight: 300;
  font-style: normal;
}

:root {
    --font-family: 'Public Sans',-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
}

#site-text-logo, div[class^="category-title-header"] .category-title-contents .category-title, .custom-footer .first-box .heading {
    font-family: 'Bagnard', serif;
}

.d-header {
    box-shadow: none;
    border-bottom: 1px solid var(--primary-low);
}

.custom-header-links .headerLink {
    font-size: .88rem;
    opacity: 0.6;
    padding: 6px 10px;
}

.custom-header-links .headerLink a {
    padding: 0;
    font-size: .88rem;
}

body:not(.category-announcements-blog) .forum-custom-header-links > a {
    background:
        radial-gradient(farthest-side, #FFD06F 98%,transparent 100%) bottom right/2px 2px,
        radial-gradient(farthest-side, #FFD06F 98%,transparent 100%) bottom left /2px 2px,
        linear-gradient(#FFD06F,#FFD06F) bottom/calc(100% - 2px) 2px;
    background-repeat:no-repeat;
    background-origin: padding-box;
    padding-bottom: 2px;
}

.category-announcements-blog .blog-custom-header-links > a {
    background:
        radial-gradient(farthest-side, #FFD06F 98%,transparent 100%) bottom right/2px 2px,
        radial-gradient(farthest-side, #FFD06F 98%,transparent 100%) bottom left /2px 2px,
        linear-gradient(#FFD06F,#FFD06F) bottom/calc(100% - 2px) 2px;
    background-repeat:no-repeat;
    background-origin: padding-box;
    padding-bottom: 2px;
}

.sidebar-wrapper, .sidebar-footer-wrapper .sidebar-footer-container:before, .sidebar-footer-wrapper .sidebar-footer-container {
    background: inherit;
}

.category-team .topic-post.group-team {
    border-top: none;
}

.create-account .user-fields {
  display: none;
}
.second-factor-item > .actions > button.btn-danger.btn-flat.no-text.btn.no-text.btn-icon {
  display: none;
}

// From discourse-easy-footer component:

.custom-footer {
  display: flex;
  flex-wrap: wrap;
  background: var(--primary);
  .wrap {
    box-sizing: border-box;
  }
  .flexbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: var(--secondary);
    padding: 2em 0 1em 0;
  }
  .first-box {
    max-width: 20%;
    .heading {
      font-size: $font-up-2;
      font-weight: bold;
      margin-bottom: 0.5em;
      display: block;
    }
    .blurb {
      color: var(--secondary-high);
    }
  }
  .second-box {
    flex: 1;
    .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      ul {
        list-style: none;
        margin: 0;
        min-width: 100px;
      }
      li {
        margin: 0.5em 0;
      }
    }
  }
  .third-box {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(var(--primary-low-rgb), 0.05);
    .social {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      .social-link {
        margin: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .d-icon {
          color: var(--secondary);
          min-width: unset;
          margin: 0;
          font-size: $font-up-2;
          opacity: 1;
        }
      }
    }
    .small-link {
      color: var(--secondary-high);
      margin: 0 0.25em;
      font-size: $font-down-2;
    }
  }
  .footer-links {
    flex: 1;
  }
  .list span {
    font-weight: bold;
  }
  .footer-section-link-wrapper a {
    color: var(--secondary-high);
  }
  .list {
    margin: 1em;
    margin-top: 0;
  }
  .d-icon {
    margin-right: 5px;
    opacity: 0.7;
    min-width: 16px;
    text-align: center;
    &.fa-none {
      min-width: unset;
    }
    .rtl & {
      margin-right: 0;
      margin-left: 5px;
    }
  }
}

body.crawler {
  .custom-footer {
    .footer-section-link-wrapper a {
      color: var(--secondary-high)!important;
    }
    .small-link {
      color: var(--secondary-high)!important;
    }
  }
}

#main-outlet {
  // stick footer to bottom of short pages
  min-height: 85vh;
}

@media screen and (max-width: $large-width) {
  .custom-footer {
    .first-box {
      max-width: 100%;
      border-bottom: 1px solid rgba(var(--primary-low-rgb), 0.05);
      margin-bottom: 1em;
      padding-bottom: 1em;

      .blurb {
        display: flex;
        align-items: center;
      }
    }
    .third-box {
      margin-top: 0.5em;
    }
    .second-box .links {
      justify-content: space-between;
    }
    .list {
      margin: 0;
      margin-top: 1em;
    }
    .first-box,
    .second-box,
    .third-box {
      flex: 1 1 100%;
    }
  }
}

@media screen and (max-width: 700px) {
  .custom-footer {
    .first-box {
      width: 100%;
    }
    .list {
      margin-top: 1em;
      display: inline-block;
      vertical-align: top;
      min-width: 50%;
      font-size: $font-up-1;
    }
    .links {
      display: inline-block;
    }
  }
}

.static-login .custom-footer {
  margin-top: 3em;
}

// Reduce header title size
.extra-info-wrapper .header-title {
  font-size: var(--font-up-1);
}

a.active.sidebar-section-link.sidebar-row {
  background: none;
}

html.anon {
  nav.post-controls {
    justify-content: right;
    .actions {
      margin-left: 0;
    }
    .discourse-reactions-actions .discourse-reactions-list {
      display: none;
    }
  }
}

form#login-form {
  .create-account__fullname {
    display: none;
  }
  .user-field-pronouns {
    display: none;
  }
  .user-field-optional-features {
    display: none;
  }
}

body.option-disable-reactions-all {
  .discourse-reactions-counter {
    display: none;
  }
}

body.option-disable-reactions-negative {
  .discourse-reactions-state-panel {
    display: none;
  }
  .discourse-reactions-picker-container {
    button.rofl {
      display: none;
    }
    button.\-1 {
      display: none;
    }
    button.eyes {
      display: none;
    }
    button.confused {
      display: none;
    }
    button.open_mouth {
      display: none;
    }
    button.disguised_face {
      display: none;
    }
    button.grimacing {
      display: none;
    }
    button.popcorn {
      display: none;
    }
    button.no_mouth {
      display: none;
    }
    button.thinking {
      display: none;
    }
    button.robot {
      display: none;
    }
    button.cry {
      display: none;
    }
  }
  .reactions {
    [id*='discourse-reactions-list-emoji'][id$="-rofl"] {
      display: none;
    }
    [id*='discourse-reactions-list-emoji'][id$="-1"] {
      display: none;
    }
    [id*='discourse-reactions-list-emoji'][id$="-eyes"] {
      display: none;
    }
    [id*='discourse-reactions-list-emoji'][id$="-confused"] {
      display: none;
    }
    [id*='discourse-reactions-list-emoji'][id$="-open_mouth"] {
      display: none;
    }
    [id*='discourse-reactions-list-emoji'][id$="-disguised_face"] {
      display: none;
    }
    [id*='discourse-reactions-list-emoji'][id$="-grimacing"] {
      display: none;
    }
    [id*='discourse-reactions-list-emoji'][id$="-popcorn"] {
      display: none;
    }
    [id*='discourse-reactions-list-emoji'][id$="-no_mouth"] {
      display: none;
    }
    [id*='discourse-reactions-list-emoji'][id$="-thinking"] {
      display: none;
    }
    [id*='discourse-reactions-list-emoji'][id$="-robot"] {
      display: none;
    }
    [id*='discourse-reactions-list-emoji'][id$="-cry"] {
      display: none;
    }
  }
  .discourse-reactions-counter .reactions-counter {
    display: none;
  }
}
