<div class="custom-footer">
  <div class="wrap">
    <div class="flexbox">
      <div class="first-box">
        <div class="heading">
          Privacy Guides
        </div>
        <div class="blurb">
          Massive organizations are monitoring your online activities. Privacy Guides is your central privacy and security resource to protect yourself online.
        </div>
      </div>
      <div class="second-box">
        <div class="links">
          <div class="list">
            <span class="knowledge-base">
                Knowledge Base
              </span>

            <ul>
              <li class="footer-section-link-wrapper threat-modeling">
                <a class="footer-section-link" title="Threat modeling lists the most likely threats to your privacy" href="https://www.privacyguides.org/en/basics/threat-modeling/">
                  Threat Modeling
                </a>
              </li>
              <li class="footer-section-link-wrapper common-threats">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/basics/common-threats/">
                  Common Threats
                </a>
              </li>
              <li class="footer-section-link-wrapper vpn-overview">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/basics/vpn-overview/">
                  What is a VPN?
                </a>
              </li>
              <li class="footer-section-link-wrapper tor-overview">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/advanced/tor-overview/">
                  What is the Tor network?
                </a>
              </li>
              <li class="footer-section-link-wrapper common-misconceptions">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/basics/common-misconceptions/">
                  Common Misconceptions
                </a>
              </li>
            </ul>
          </div>
          <div class="list">
            <span class="browsers">
                Private Web Browsers
              </span>

            <ul>
              <li class="footer-section-link-wrapper tor-network">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/tor/">
                  Tor Browser
                </a>
              </li>
              <li class="footer-section-link-wrapper mullvad">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/desktop-browsers/#mullvad-browser">
                  Mullvad Browser
                </a>
              </li>
              <li class="footer-section-link-wrapper firefox">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/desktop-browsers/#firefox">
                  Mozilla Firefox
                </a>
              </li>
              <li class="footer-section-link-wrapper brave">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/desktop-browsers/#brave">
                  Brave Browser
                </a>
              </li>
              <li class="footer-section-link-wrapper mobile-browsers">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/mobile-browsers/">
                  Mobile Browsers
                </a>
              </li>
            </ul>
          </div>
          <div class="list">
            <span class="vpn-providers">
                Top 3 VPN Providers in 2024
              </span>

            <ul>
              <li class="footer-section-link-wrapper ivpn">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/vpn/#ivpn">
                  IVPN
                </a>
              </li>
              <li class="footer-section-link-wrapper mullvad">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/vpn/#mullvad">
                  Mullvad
                </a>
              </li>
              <li class="footer-section-link-wrapper protonvpn">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/vpn/#proton-vpn">
                  ProtonVPN
                </a>
              </li>
              <li class="footer-section-link-wrapper recommendation-criteria">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/vpn/#criteria">
                  Our Recommendation Criteria
                </a>
              </li>
            </ul>
          </div>
          <div class="list">
            <span class="services">
                Privacy-Respecting Services
              </span>

            <ul>
              <li class="footer-section-link-wrapper cloud-storage">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/cloud/">
                  Private Cloud Storage
                </a>
              </li>
              <li class="footer-section-link-wrapper email-providers">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/email/">
                  Encrypted Email Providers
                </a>
              </li>
              <li class="footer-section-link-wrapper search-engines">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/search-engines/">
                  Tracking-Free Search Engines
                </a>
              </li>
              <li class="footer-section-link-wrapper dns-resolvers">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/dns/">
                  Encrypted DNS Resolvers
                </a>
              </li>
            </ul>
          </div>
          <div class="list">
            <span class="software">
                Software Recommendations
              </span>

            <ul>
              <li class="footer-section-link-wrapper email-clients">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/email-clients/">
                  Email Clients
                </a>
              </li>
              <li class="footer-section-link-wrapper password-managers">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/passwords/">
                  Password Managers
                </a>
              </li>
              <li class="footer-section-link-wrapper instant-messengers">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/real-time-communication/">
                  Instant Messengers
                </a>
              </li>
              <li class="footer-section-link-wrapper encryption-tools">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/encryption/">
                  Encryption Tools
                </a>
              </li>
              <li class="footer-section-link-wrapper file-sharing">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/file-sharing/">
                  File Sharing
                </a>
              </li>
            </ul>
          </div>
          <div class="list">
            <span class="meta">
                Meta
              </span>

            <ul>
              <li class="footer-section-link-wrapper">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/about/">
                  About Us
                </a>
              </li>
              <li class="footer-section-link-wrapper">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/about/contributors/">
                  Volunteer Contributor List
                </a>
              </li>
              <li class="footer-section-link-wrapper">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/about/statistics/">
                  Website Traffic Statistics
                </a>
              </li>
              <li class="footer-section-link-wrapper">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/about/donate/">
                  Support our Non-Profit Project
                </a>
              </li>
              <li class="footer-section-link-wrapper">
                <a class="footer-section-link" href="https://www.privacyguides.org/en/about/privacytools/">
                  What to know about PrivacyTools.io
                </a>
            </ul>
          </div>
          <div class="list">
            <span class="resources">
                More Resources
              </span>

            <ul>
              <li class="footer-section-link-wrapper">
                <a class="footer-section-link" href="https://www.youtube.com/@privacyguides">
                  Privacy Guides on YouTube
                </a>
              </li>
              <li class="footer-section-link-wrapper">
                <a class="footer-section-link" href="https://www.youtube.com/@jonaharagon">
                  Jonah Aragon on YouTube
                </a>
              </li>
              <li class="footer-section-link-wrapper">
                <a class="footer-section-link" href="https://blog.privacyguides.org/">
                  Privacy Guides Blog
                </a>
              </li>
              <li class="footer-section-link-wrapper">
                <a class="footer-section-link" href="https://share.privacyguides.org/">
                  Web Stories
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="third-box">
        <div class="footer-links">
          <a class="small-link privacy" href="/privacy">
            Privacy
          </a>
          <a class="small-link terms-of-service" href="/tos">
            Terms of service
          </a>
          <a class="small-link posting-guidelines" href="/guidelines">
            Posting guidelines
          </a>
          <a class="small-link about-us" href="https://www.privacyguides.org/about/">
            About us
          </a>
          <a class="small-link forum-design-by-jonah" href="https://www.jonaharagon.com/">
            Forum design by Jonah
          </a>
        </div>

        <div class="social">
          <a class="social-link mastodon" title="follow us on Mastodon" href="https://mastodon.neat.computer/@privacyguides">
            <svg class="fa d-icon d-icon-fab-mastodon svg-icon svg-string" xmlns="http://www.w3.org/2000/svg">
              <use href="#fab-mastodon"></use>
            </svg>
          </a>
          <a class="social-link github" title="contribute to the website on GitHub" href="https://github.com/privacyguides">
            <svg class="fa d-icon d-icon-fab-github svg-icon svg-string" xmlns="http://www.w3.org/2000/svg">
              <use href="#fab-github"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
