.login-modal #login-buttons:not(.hidden), .create-account #login-buttons:not(.hidden) {
    min-width: 230px;
}
.modal-inner-container {
    --modal-max-width: 48em;
}
.post-menu-area {
    margin: 0;
}
.above-main-container-outlet.welcome-link-banner-connectors .welcome-wrapper, .below-site-header-outlet.welcome-link-banner-connector .welcome-wrapper {
    box-shadow: none;
    margin: 0;
}
.top-contributors--user {
    white-space: nowrap;
    .top-contributors--user-badge {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
